<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Connection" value="Data Source=DESKTOP-0UF8EJC\MSSQLSERVER02;Initial Catalog=GGConfeitaria;Integrated Security=True" />
  </appSettings>
</configuration>